[Unit]
Description=FinNews AI Service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/python/finnews/finnews-ai
Environment="PATH=/var/python/finnews/venv/bin"
Environment="OPENAI_API_KEY=${OPENAI_API_KEY}"
ExecStart=/var/python/finnews/venv/bin/gunicorn app:app -w 4 -k uvicorn.workers.UvicornWorker --bind unix:/var/python/finnews/finnews-ai.sock
Restart=always
RestartSec=5
SyslogIdentifier=finnews

[Install]
WantedBy=multi-user.target
